body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

ode {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 414px;
  margin: auto;
}

#root .footer {
  max-width: 430px;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.bg-award {
  background-color: #D32F2B !important;
}

.btn-award {
  color: #fff !important;
  background-color: #D32F2B !important;
  border-color: #D32F2B !important;
}

.btn-outline-award {
  color: #D32F2B !important;
  background-color: #fff !important;
  border-color: #D32F2B !important;
}

.btn-outline {
  color: #1E1E1E !important;
  background-color: #fff !important;
  border-color: #1E1E1E !important;
}

.border-i {
  border: 1px solid !important;
}

.border-award {
  border-color: #D32F2B !important;
}

.text-award {
  color: #D32F2B !important;
}

.img-rounded {
  border-radius: 50%;
}

.fw-semibold {
  font-weight: 600 !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.text-xs {
  font-size: 8px;
}
.text-sm {
  font-size: 10px;
}
.text-md {
  font-size: 12px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.v-align {
  vertical-align: middle;
}

.btn-block {
  width: 100%;
}

.input-group .award-form {
  border-right: none !important;
  border-radius: 10px 0 0 10px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.input-group .input-group-text {
  background-color: #fff;
  border-left: none !important;
  border-radius: 0 10px 10px 0 !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.award-form {
  /* border: 1px solid #726e6e !important; */
  border-radius: 10px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.award-btn {
  border-radius: 10px !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

::placeholder {
  font-size: 14px;
}

.hr-c {
  border: 0 solid #000;
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #fff;
  border-top: 1px solid rgb(173, 160, 160);
}

.nav-cart {
  position: fixed;
  bottom: 20px;
  right: 16px;
  left: 16px;
  z-index: 20;
  margin: 0 auto;
  max-width: 400px;
}

.item-img {
  position: relative;
  box-sizing: border-box;
  height: 85.5px;
  /* width: 85px; */
  text-align: center;
  background-color: #fff;
}

.item-img img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: contain;
}

.card-text {
  min-height: 70px;
  max-height: 90px;
}

.otp input {
  width: 40px !important;
  height: 40px !important;
  border: none;
  border-bottom: 1px solid #000;
}

.line-bot {
  width: 50%;
  border-bottom: 1px solid #000;
}

.rs-timeline-item-last .rs-timeline-item-dot::before {
   background-color: #D32F2B !important;
  }

.offcanvas-start{
  margin-left: auto !important;
  width: 75% !important;
}

@media only screen and (min-width: 992px) {
  .offcanvas-start{
    margin-left: 600px !important;
    width: 20% !important;
  }
}
.offcanvas-top{
  margin: auto !important;
  max-width: 414px !important;
  height: 100% !important;
}


/* CSS */
.btn-custom-white {
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #6caaec;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border: 2px solid rgb(50, 43, 193);
}

.btn-custom-white:hover,
.btn-custom-white:focus {
  background-color: #232a8d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
}

.btn-custom-white:hover {
  transform: translateY(-1px);
}

.btn-custom-white:active {
  background-color: #232a8d;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}